h5py==2.10.0
pymatreader==0.0.20
matplotlib==3.1.1
npTDMS=0.18.1
numpy==1.17.4
openpyxl==3.0.0
pandas==0.25.3
QtPy==1.9.0
pyside2==5.13.1
PyQt5==5.13.1
scipy==1.3.2
setuptools-scm==3.3.3
wheel==0.33.6
Sphinx==2.2.1
sphinx_bootstrap_theme==0.7.1
tox==3.14.0