h5py>=3.5.0, <=3.7.0
pymatreader==0.0.24
matplotlib>=3.3.3, <=3.6
npTDMS==1.1.0
numpy>=1.21.6, <=1.24.*
openpyxl==3.0.5
pandas>=1.1.4, <=1.5
QtPy==1.9.0
pyside2>=5.15.2, <5.16
PyQt5>=5.15.2, <=5.15.7
scipy>=1.7.2, <=1.9.2   # in accordance with https://docs.scipy.org/doc/scipy/dev/toolchain.html#numpy
setuptools-scm>=7.1.0, <=8
wheel==0.38.4
# documentation build requirements:
Sphinx>=5.1.1
##sphinx-rtd-theme>=1.1.1
furo>=2022.12.7
myst-parser>=0.18.1
